@import "tailwindcss";

@theme {
  --color-spotify-green: #1db954;
  --color-spotify-green-hover: #1ed760;
  --color-spotify-black: #121212;
  --color-spotify-card: #181818;
  --color-spotify-card-hover: #242424;
  --color-spotify-border: #282828;
  --color-spotify-gray: #b3b3b3;
}

body {
  margin: 0;
  background-color: var(--color-spotify-black);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}